.item_close{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: 600;
}
.item_title{
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}


@media screen and (max-width:599px) {
    .item_title{
        width: 100px;
    }
    .item_image{
        width: 30px;
        height: 30px;
    }

    .item_close{
        width: 20px;
        height: 20px;
        font-size: 12px;
    }

    .item_price{
        font-size: 14px;
    }
}
